body{
  color: white;
  text-align: center;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

p{
  padding-top: 10px;
}

header{
  background-color: #6C67C5;
  height: 100px;
  width: 100%
}

.left{
  background-color: #66C3B1;
  height: 250px;
  width: 100%;
}

.content{
  background-color: #DF8F8F;
  height: 250px;
  width: 100%;
}

.right{
  background-color: #92C366;
  height: 250px;
  width: 100%;
}

footer{
  background-color: #B166C3;
  height: 100px;
  width: 100%;
}

@media all and (min-width: 1024px){

body{
  display: grid;    
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 100px);
}

header{
  grid-row-start: 1;
  grid-row-end: three;
  grid-column-start: 1;
  grid-column-end: twelve;
}

.left{
  grid-row-start: three;
  grid-row-end: six;
  grid-column-start: 1;
  grid-row-end: three;
}

.content{
  grid-row-start: three;
  grid-row-end: six;
  grid-column-start: three;
  grid-row-end: ten;
}

.right{
  grid-row-start: three;
  grid-row-end: six;
  grid-column-start: ten;
  grid-row-end: twelve;
}

footer{
  grid-row-start: seven;
  grid-row-end: eight;
  grid-column-start: 1;
  grid-column-end: twelve;
  }
}