html{
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}


p{
  padding-top: 10px;
}

header, footer{
  background-color: #FF6927;
  height: 100px;
  width: 100%;
}

.left{
  background-color: #FFD8C7;
  height: 250px;
  width: 100%;
}

.content{
  background-color: #FFD117;
  height: 250px;
  width: 100%;
}

.right{
  background-color: #5CD2D9;
  height: 250px;
  width: 100%;
}


@media all and (min-width: 1024px){


  header, footer{
    height: 150px; 
  }

  main {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    height: 700px;
  }

.left, .content, .right {
  height: 700px;
}

  .left{
    grid-column: 1/2;
  }

  .content{
    grid-column: 2/3;
  }

  .right{
    grid-column: 3/4;
  }
}